@model SingleCategoryViewModel

<div class="text-center">
    <h1>@Model.Category.Name</h1>
</div>

<div class="row">
    <div class="col-6">
        <h3>Products:</h3>
        <ul>
            @foreach(Association product in Model.Category.Products)
            {
                <li>@product.Product.Name</li>
            }
        </ul>
    </div>
    <div class="col-6">
        <form asp-action="AddProductToCategory" asp-controller="ProductCategory" asp-route-categoryId="@Model.Category.CategoryId" class="form">
            <label asp-for="ProductIdToAdd">Add Product:</label>
            <select asp-for="ProductIdToAdd" class="form-control">
                @foreach (Product product in Model.AllProductsForCategory)
                {
                    <option value="@product.ProductId">@product.Name</option>
                }
            </select>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>
</div>